body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding: 20px;
  background-color: hsl(192, 15%, 94%);
}

#board-container {
  display: flex;
}

#player-board,
#opponent-board {
  display: flex;
  flex-direction: column;
}

.y0, .y1, .y2, .y3, .y4, .y5,
.y6, .y7, .y8, .y9 {
  display: flex;
  flex-direction: row;
}

.x0, .x1, .x2, .x3, .x4, .x5,
.x6, .x7, .x8, .x9 {
  width: 50px;
  height: 50px;
  border: 1px solid #2b546b;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miss-square {
  background-color: #a09999;
}

.exclusion-square {
  background-color: #a09999;
}

.hit-square {
  background-color: #ee7474;
}

.ship-square {
  background-color: #5d97ec;
}

.attack-hover {
  background-color: #f5f0b0;
}

.ship-place-valid-hover {
  background-color: #a3bce2;
}

.ship-place-invalid-hover {
  background-color: #eb9c91;
}